<div class="p-col-12 p-d-flex">
    <div class="p-col-3">
        <button pButton label="Post" (click)="addPost()" [disabled]="!enabled"></button>
    </div>
    <div class="p-col-3">
        <button pButton label="Put" (click)="putPost()" [disabled]="!enabled"></button>
    </div>
    <div class="p-col-3">
        <button pButton label="Patch" (click)="patchPost()" [disabled]="!enabled"></button>
    </div>
    <div class="p-col-3">
        <button pButton label="Delete" (click)="deletePost()" [disabled]="!enabled"></button>
    </div>
</div>
<div class="p-col-12">
    <p>{{messageResult}}</p>
    <h2>Object Response</h2>
    <pre *ngIf="messageResultObject">{{ messageResultObject | json }}</pre>
</div>


