<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
        <button pButton pRipple [label]="'Delete'" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedDish()"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
</p-toolbar>
<p-table #dt1 [value]="dishes" dataKey="id" [(selection)]="selectedDishes"
         [rows]="10" [paginator]="true"
         [rowHover]="true" [globalFilterFields]="['name']">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h2 class="p-m-0">Manage Dishes</h2>
            <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"
                           (input)="dt1.filterGlobal($event.target.value, 'contains')"
                           placeholder="Search..."/>
                </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Name</th>
            <th>Category</th>
            <th>Image</th>
            <th>Ready</th>
            <th>Portions</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Description</th>
            <th style="width:8rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dish>
        <tr>
            <td>
                <p-tableCheckbox [value]="dish"></p-tableCheckbox>
            </td>
            <td>{{dish.name}}</td>
            <td>{{dish.categoryObject.name}}</td>
            <td><img [src]="dish.imageURL" width="100px" [alt]="dish.name" class="product-image"/>
            </td>
            <td>{{dish.readyMinutes}}</td>
            <td>{{dish.portions}}</td>
            <td>{{dish.price}}</td>
            <td>{{dish.rating}}</td>
            <td>{{dish.description}}</td>
            <td style="text-align:center">
                <button pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success p-mr-2"
                        (click)="editDish(dish)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{dishes ? dishes.length : 0 }} dishes.
        </div>
    </ng-template>
</p-table>
<p-dialog [(visible)]="dishDialog" [style]="{width: '450px'}" header="Dish Details"
          [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-formgrid p-grid">
            <div class="p-field p-row p-col-12 p-text-left">
                <label for="name">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="dish.name" required autofocus/>
                <small class="p-invalid" *ngIf="submitted && !dish.name">Name is required.</small>
            </div>
            <div class="p-field p-row p-col-12 p-text-left">
                <label for="category">Category</label>
                <p-dropdown id="category" [options]="categories" [(ngModel)]="selectedCategory"
                            optionLabel="name"></p-dropdown>
                <small class="p-invalid" *ngIf="submitted && !selectedCategory">Category is
                    required.</small>
            </div>
            <div class="p-field p-row p-col-12 p-text-left">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="dish.price" mode="currency" currency="USD"
                               locale="en-US"></p-inputNumber>
                <small class="p-invalid" *ngIf="submitted && !dish.price">Price is required.</small>
            </div>
            <div class="p-field p-row p-col-12 p-text-left">
                <label for="image">ImageURL</label>
                <input type="text" pInputText id="image" [(ngModel)]="dish.imageURL" required
                       autofocus/>
            </div>
            <div class="p-field p-row p-col-12 p-text-left">
                <label for="rating">Rating</label>
                <p-inputNumber id="rating" [step]="1" [(ngModel)]="dish.rating" [showButtons]=true
                               [min]="1"
                               [max]="10"></p-inputNumber>
            </div>
            <div class="p-field p-row p-col-12 p-text-left">
                <label for="description">Description</label>
                <textarea id="description" pInputTextarea [(ngModel)]="dish.description" required
                          [rows]="10" [cols]="25"></textarea>
            </div>
            <div class="p-field p-row p-col-12 p-text-left">
                <label for="portions">Portions</label>
                <p-inputNumber id="portions" [step]="1" [(ngModel)]="dish.portions"
                               [showButtons]=true [min]="1"
                               [max]="5"></p-inputNumber>
            </div>
            <div class="p-field p-row p-col-12 p-text-left">
                <label for="ready">Ready in Minutes</label>
                <p-inputNumber id="ready" [step]="10" [(ngModel)]="dish.readyMinutes"
                               [showButtons]=true [min]="1"
                               [max]="60"></p-inputNumber>
            </div>
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="saveDish()"></button>
    </ng-template>
</p-dialog>
