<div class="p-d-flex p-flex-column p-flex-md-row">
    <div class="p-xl-8 p-xl-offset-2 p-lg-12 p-md-12 p-text-center">
        <amplify-authenticator>
            <div class="p-grid">
                <div class="p-col-12">
                    <div class="p-text-center">Menu - Hawks Nation <i class="pi pi-apple"
                                                                      style="font-size: 2rem"></i>
                    </div>
                </div>
                <div class="p-col-12">
                    <p-menubar [model]="items">
                        <ng-template pTemplate="start">
                                 <span class="p-overlay-badge p-text-right p-mr-4 shopping"
                                       routerLink="/app-order"
                                       routerLinkActive="active">
                                    <i class="pi pi-shopping-cart product-category-icon"
                                       style="font-size: 2em"></i>
                                    <span class="p-badge">{{ totalDishes() }}</span>
                                </span>
                        </ng-template>
                        <ng-template pTemplate="end">
                            <p class="p-mr-3" *ngIf="user">Hi, <span class="p-text-bold">{{ user.username }}</span>
                            </p>
                            <span class="p-overlay-badge p-text-right p-mr-4 shopping"
                                  routerLink="" routerLinkActive="active">
                                <i class="pi pi-shopping-cart product-category-icon"
                                   style="font-size: 2em"></i>
                                <span class="p-badge">{{ totalDishes() }}</span>
                                </span>
                            <amplify-sign-out></amplify-sign-out>
                        </ng-template>
                    </p-menubar>
                </div>
                <div class="p-col-12">
                    <!--
                    <p-messages [(value)]="message" [enableService]="false"></p-messages>
                    -->
                </div>
                <div class="p-col-12"
                     [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
                    <router-outlet #o="outlet"></router-outlet>
                </div>
            </div>
        </amplify-authenticator>
    </div>
</div>
