<!--
<div class="p-grid p-ai-stretch">
    <div class="p-col-12">
        <div class="p-text-center p-text-bold">
            <h1>Menu - Hawks Nation <i class="pi pi-apple" style="font-size: 2rem"></i></h1>
        </div>
    </div>
    <div class="p-col-12">
        <app-menu></app-menu>
        <router-outlet></router-outlet>
    </div>
</div>
-->

<amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>

<div *ngIf="authState === 'signedin' && user" class="App">
    <amplify-sign-out></amplify-sign-out>
    <div>Hello, {{user.username}}</div>
    <app-menu></app-menu>
</div>
