.dish {
  width: 400px;
  height: 300px;
  border: 1px solid #AEB6BF;
  background-color: #E5E7E9;
  float: left;
  margin: 0px 10px 10px 0px;
  padding: 5px;
}

.dish ul {
  list-style-type: none;
}

h1, h2, h3, p {
  text-align: center;
}

.dish table {
  margin: 0 auto;
}
