.dish {
  width:400px;
  height:300px;
  border: 1px solid #FFFF01;
  background-color: antiquewhite;
  float:left;
  margin:0px 10px 10px 0px;
  padding:5px;
}

.dish ul {
  list-style-type: none;
}

h1, h2, h3, p {
  text-align: center;
}
