.cart-title {
  font-weight: 600;
  vertical-align: middle;
}

.product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.no-pica {
  color:blue;
  font-weight: bold;
}

.pica-poco {
  color:orange;
  font-weight: bold;
}

.pica-mucho {
  color:red;
  font-weight: bold;
}
