<div class="p-grid">
    <div class="p-col-12">
        <ng-container *ngFor="let item of car">
            <div class="p-field p-grid">
                <label [for]=item.id class="p-col-fixed p-text-left"
                       style="width:15%">{{ item.name | addPrefix }}</label>
                <div class="p-col">
                    <input [id]=item.id type="text" name="Quantity" pInputText
                           placeholder="Quantity">
                    <button icon="pi pi-trash" pRipple class="p-ml-2" pButton type="button" label="Delete"
                            (click)="deleteCurrentDish(item.id)"></button>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="p-col-12">
        <button icon="pi pi-check" pButton pRipple type="button" label="Place Order" [disabled]="car.length === 0"></button>
    </div>
</div>

